body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #edb1318b, #407934e6);
  color: #050505;
}
.titulo {
      background-color: #0b8457;
      color: white;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
    }

.titulo h1 {
      font-size: 1.8rem;
      color: #ffffff;
    }

    nav a {
      color: white;
      margin-left: 1rem;
      text-decoration: none;
      font-weight: bold;
    }

section {
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #5b7048;
  border-radius: 10px;
}


h1 {
  color: #111111;
  font-size: 28px;
  margin-bottom: 15px;
}


p {
  font-size: 18px;
  line-height: 1.6;
}

footer.informacion {
  background-color: #274b32;
  color: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 30px;
}

footer.informacion li {
  margin-bottom: 10px;
  font-size: 16px;
}
.foo {
      background-color: #0b8457;
      color: white;
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
    }